<div class="content">
    <h2 style="text-align: center">Linux State</h2>
    <div class="title"><h3>CPU state</h3></div>
    <div class="emebox">
        <div class="oft"><p class="t">1-min: </p><p class="d">{{mC.omin*100 | number:'2.0-0'}}</p><p class="e">%</p></div>
        <div class="oft"><p class="t">5-min: </p><p class="d">{{mC.fmin*100 | number:'2.0-0'}}</p><p class="e">%</p></div>
        <div class="oft"><p class="t">15-min: </p><p class="d">{{mC.ftmin*100 | number:'2.0-0'}}</p><p class="e">%</p></div>
    </div>
    <div class="title"><h3>Memory state</h3></div>
    <div class="emebox mem-area">
        <li><div class="tt">Total-Size: </div><div class="bar" style=" color: #1f826b;" id="total">{{mM.total}}Mb</div></li>
        <li><div class="tt">Used: </div><div class="bar" style=" color: #db3737;" id="used">{{mM.used}}Mb</div></li>
        <li><div class="tt">Available: </div><div class="bar" style=" color: #a29a00;" id="avail">{{mM.available}}Mb</div></li>
        <li><div class="tt">Cache: </div><div class="bar" style=" color: #7a2c8d;" id="cache">{{mM.cache}}Mb</div></li>
        <li><div class="tt">Free: </div><div class="bar" style=" color: #26e626;" id="free">{{mM.free}}Mb</div></li>
        <li><div class="tt">Shared: </div><div class="bar" style=" color: #3778ad;" id="shared">{{mM.shared}}Mb</div></li>
    </div>
    <div class="title"><h3>VM state</h3></div>
    <div class="emebox" style="overflow: auto;font-weight: 600;">
        <pre id="vmstatbox"></pre>
    </div>

    <button class="g-btn rfbtn gradually" (click)="display()">Refresh</button>
</div>