<div class="background full">
        <div style="color: #fff; text-align: center"><h1>Welcome To BackDoor</h1></div>
        <div style="text-align: center;">
                <input type="text" id="tokeninput" type="password" maxlength="25" [(ngModel)]="token">
        </div>
        <div class="main-box">
                <div class="row choice">
                        <div class="c-item" *ngFor="let row of choices" [class.active]="row.routerline==chosing" (click)="setChoice(row.routerline)"
                        title="{{row.name}}"   routerLink={{row.routerline}}>
                                <p>{{row.name[0]}}</p>
                        </div>
                </div>
                <router-outlet></router-outlet>
        </div>
</div>