<div class="content" >
    <h2 style="text-align:center;margin:0em">Logger</h2>
    <div class="title"><h3>Logs List</h3> </div>
    <div class="textbox logslist">
        <a  [ngClass]="{'active': 'row==nowShowing'}" *ngFor="let row of logsList" (click)="getLogDetail(row)">
            {{row}}
        </a>
    </div>
    <div class="title"><h3>Logs Detail</h3> 
        <a class="g-a-btn gradually" (click)="clearLog()">Clear</a> 
        <a class="g-a-btn gradually" (click)="delLog()">Delete</a> </div>
    <pre class="textbox">{{logsDetail}}</pre>
    <button class="g-btn rfbtn gradually" style="position: absolute; right: 1em; top: 1em;" (click)="refresh()">Refresh</button>
</div>
