.content {
    width: 600px;
    color: #535455;
}

.rfbtn {
    position: absolute;
    top: 1em;
    right: 1em;
}

.msgbox {
    min-height: 4em;
    border-left: 7px solid #1a695e;
    border-radius: 4px;
    background-color: aliceblue;
    padding: 0.4em 1em;
}

.datalist{
    border-bottom: 1px solid #b9d2e88a;
    margin-top: 0.5em;
}

.keyname{
    color: #5536ca;
    font-size: 1.1em;
    display: inline-block;
    width: 20%;
}
.keyname::after{
    content: ":";
}
